<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('../partials/head.ejs', {style: 'catalog.css' }) %>

    <body>
        <!-- Header -->
        <%- include('../partials/header.ejs') %>
            <main>
                <h1>Modelos 3D</h1>
                <p>Explore nuestra categoría "Todo", que contiene toda nuestra colección de modelos de impresión 3D en
                    un solo lugar.</p>
                <section class="container">

                    <% products.forEach(prod => { %>
                    <article class="card">
                        <a href="/products/detail/<%= prod.id %>">
                            <img src="/images/products/<%= prod.image %>" alt="imagenProd">
                            <div >
                                <div class="card-info">
                                    <h5><%= prod.name %></h5>
                                    <h6>$<%= prod.price %></h6>
                                </div>
                                <p><%= prod.description %></p>
                            </div>
                        </a>
                    </article>
                    <% }) %>
                   
                </section>
            </main>
            <!-- Footer -->
            <%- include('../partials/footer.ejs') %>
                <!-- Bootstrap -->
                <%- include('../partials/scripts.ejs') %>
    </body>

</html>