<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', {style: 'form.css'}) %>
<body>
  <!-- Header -->
  <%- include('../partials/header.ejs') %>
  <!-- Main -->
   <main>
        Vista de perfil de <%= locals.userLogged.name %>
   </main>  
  <!-- Footer -->
  <%- include('../partials/footer.ejs') %>
  <!-- Scripts -->
  <%- include('../partials/scripts.ejs') %>
</body>
</html> 