<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('../partials/head.ejs', {style: 'detail.css' }) %>

    <body>
        <!-- Header -->
        <%- include('../partials/header.ejs') %>

            <main>
                <div class="container">
                    <img src="/images/examples/img1.png" alt="prod-image">
                    <h2>Titulo del producto con id <%= id %></h2>
                    <h4>Precio</h4>
                    <p>Descripcion</p>
                    <div>
                        <button>Comprar</button>
                        <button>Agregar al carrito</button>
                    </div>
                </div>
            </main>
            <!-- Footer -->
            <%- include('../partials/footer.ejs') %>
                <!-- Bootstrap -->
            <%- include('../partials/scripts.ejs') %>
    </body>

</html>